<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
         <!-- Navigation Buttons -->
        <div class="flex gap-4">
            <button routerLink="/all-works" class="px-6 py-3 text-white bg-gray-700 rounded-lg active hover:bg-gray-800 transition">All Works</button>
            <button routerLink="/web-development" class="px-6 py-3 text-white bg-gray-700 rounded-lg hover:bg-gray-800 transition">Web Development</button>
            <button routerLink="/mobile-development" class="px-6 py-3 text-white bg-gray-700 rounded-lg hover:bg-gray-800 transition">Mobile Development</button>
            <button routerLink="/web-mobile-designs" class="px-6 py-3 text-white bg-gray-700 rounded-lg hover:bg-gray-800 transition">Web & Mobile Designs</button>
        </div>

        <div class="mt-8 max-w-8xl mx-auto px-1">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="bg-white p-4 rounded-lg shadow">
                    <img src="images/pages/company-website/work/computers4.png" class="rounded-lg w-full object-cover aspect-[16/9]" alt="">
                    <h3 class="pt-3 text-xl font-bold">Travel & Tour Website</h3>
                    <p class="text-gray-600">Web Development</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow">
                    <img src="images/pages/company-website/work/computers2.png" class="rounded-lg w-full object-cover aspect-[16/9]" alt="">
                    <h3 class="pt-3 text-xl font-bold">Beauty & Gift Website</h3>
                    <p class="text-gray-600">Web Design</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow">
                    <img src="images/pages/company-website/work/computers3.png" class="rounded-lg w-full object-cover aspect-[16/9]" alt="">
                    <h3 class="pt-3 text-xl font-bold">Travel & Tour Website</h3>
                    <p class="text-gray-600">Web Development</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow">
                    <img src="images/pages/company-website/work/computers1.png" class="rounded-lg w-full object-cover aspect-[16/9]" alt="">
                    <h3 class="pt-3 text-xl font-bold">Beauty & Gift Website</h3>
                    <p class="text-gray-600">Web Design</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow">
                    <img src="images/pages/company-website/work/pink-card.png" class="rounded-lg w-full object-cover aspect-[16/9]" alt="">
                    <h3 class="pt-3 text-xl font-bold">Travel & Tour Website</h3>
                    <p class="text-gray-600">Web Development</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow">
                    <img src="images/pages/company-website/work/Purple-card.png" class="rounded-lg w-full object-cover aspect-[16/9]" alt="">
                    <h3 class="pt-3 text-xl font-bold">Beauty & Gift Website</h3>
                    <p class="text-gray-600">Web Design</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow">
                    <img src="images/pages/company-website/work/brown-card.png" class="rounded-lg w-full object-cover aspect-[16/9]" alt="">
                    <h3 class="pt-3 text-xl font-bold">Travel & Tour Website</h3>
                    <p class="text-gray-600">Web Development</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow">
                    <img src="images/pages/company-website/work/cian-card.png" class="rounded-lg w-full object-cover aspect-[16/9]" alt="">
                    <h3 class="pt-3 text-xl font-bold">Beauty & Gift Website</h3>
                    <p class="text-gray-600">Web Design</p>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="mt-20">
            <nav aria-label="Page navigation">
                <ul class="flex justify-center space-x-2">
                    <li>
                        <a href="#" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md">&lsaquo; Prev</a>
                    </li>
                    <li><a href="#" class="px-4 py-2 bg-blue-500 text-white rounded-md">1</a></li>
                    <li><a href="#" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md">2</a></li>
                    <li><a href="#" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md">...</a></li>
                    <li><a href="#" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md">10</a></li>
                    <li>
                        <a href="#" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md">Next &rsaquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
