<!DOCTYPE html>
<html lang="en">
<body class="bg-gray-50">
    <div class="flex flex-col md:flex-row items-center p-6">
        <div class="w-full md:w-1/2">
            <img src="/images/pages/company-website/member-details/member-details-1.png" class="w-full rounded-lg">
        </div>
        <div class="w-full md:w-1/2 px-6">
            <h3 class="text-2xl font-semibold">Name</h3>
            <p class="text-gray-600">Position</p>
            <p class="mt-2 text-gray-700">
                Jorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos
            </p>
        </div>
    </div>
    
    
    <h2 class="text-3xl font-bold text-center">My Projects</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6 p-2">
        <div class="p-4">
            <img src="/images/pages/company-website/member-details/member-details-2.png" class="w-full rounded-md">
            <h3 class="text-lg font-bold mt-2">Travel & Tour Website</h3>
            <p class="text-gray-500">Mobile Design</p>
        </div>

        <div class="p-4">
            <img src="/images/pages/company-website/member-details/member-details-3.png" class="w-full rounded-md">
            <h3 class="text-lg font-bold mt-2">Beauty & Gift Website</h3>
            <p class="text-gray-500">Mobile Development</p>
        </div>

        <div class="p-4">
            <img src="/images/pages/company-website/member-details/member-details-4.png" class="w-full rounded-md">
            <h3 class="text-lg font-bold mt-2">Travel & Tour Website</h3>
            <p class="text-gray-500">Mobile Design</p>
        </div>

        <div class="p-4">
            <img src="/images/pages/company-website/member-details/member-details-5.png" class="w-full rounded-md">
            <h3 class="text-lg font-bold mt-2">Beauty & Gift Website</h3>
            <p class="text-gray-500">Mobile Development</p>
        </div>
    </div>
</body>
</html>