<body>

    <main class="container mx-auto px-4">

        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div class="md:col-span-1">
               <div class="pt-5"><img src="public\images\pages\company-website\WebDevelopment.png" class="rounded-lg w-full" alt=""></div>
              </div>
              <div class="md:col-span-1 md:ml-4">

                    <h2 class="font-bold pt-5 text-2xl text-gray-800">01</h2>
                    <h2 class="font-bold text-2xl text-gray-800">Web Development</h2>
                    <p class="pt-2 text-gray-600">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie,
                        dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin
                        lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
                         Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</p>

                        <button type="button" class="bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700">VIEW MORE</button>

                 </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
                <div class="md:col-span-1 md:order-2 md:ml-4">
                    <div class="pt-5"><img src="public\images\pages\company-website\services\MobileDevelopment.png" class="rounded-lg w-full" alt=""></div>
                </div>

                <div class="md:col-span-1 md:order-1">

                      <h2 class="font-bold pt-5 text-2xl text-gray-800">02</h2>
                      <h2 class="font-bold text-2xl text-gray-800">Mobile Development</h2>
                      <p class="pt-2 text-gray-600">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie,
                          dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin
                          lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
                           Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</p>

                         <button type="button" class="bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700">VIEW MORE</button>

                  </div>
                </div>

            </div>

        <div class="container mx-auto mt-8">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div class="md:col-span-1">
               <div class="pt-5"><img src="public\images\pages\company-website\services\SEO.png" class="rounded-lg w-full" alt=""></div>
              </div>
              <div class="md:col-span-1 md:ml-4">

                    <h2 class="font-bold pt-5 text-2xl text-gray-800">03</h2>
                    <h2 class="font-bold text-2xl text-gray-800">SEO</h2>
                    <p class="pt-2 text-gray-600">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie,
                        dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin
                        lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
                         Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</p>

                         <button type="button" class="bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700">VIEW MORE</button>

                 </div>
              </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
                <div class="md:col-span-1 md:order-2 md:ml-4">
                    <div class="pt-5"><img src="public\images\pages\company-website\services\Web&MobileDesign.png" class="rounded-lg w-full" alt=""></div>
                </div>

                <div class="md:col-span-1 md:order-1">

                      <h2 class="font-bold pt-5 text-2xl text-gray-800">04</h2>
                      <h2 class="font-bold text-2xl text-gray-800">Web & Mobile Design</h2>
                      <p class="pt-2 text-gray-600">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie,
                          dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin
                          lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
                           Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</p>

                            <button type="button" class="bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700">VIEW MORE</button>

                   </div>
            </div>

            <div class="container mx-auto mt-8">
                <div class="text-center">
                    <h1 class="font-bold text-3xl text-gray-800">Our Packages</h1>
                    <p class="text-gray-600 mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil explicabo alias nisi autem
                        perferendis! Reiciendis fugiat, voluptate animi recusandae consectetur eum rem dolores eveniet est
                        doloremque facilis facere culpa. At!</p>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-4 mt-8">
                    <div class="col mb-4">
                        <div class="bg-gray-200 rounded-lg flex justify-center items-center h-32">
                            <h3 class="text-xl font-bold text-center">Package 1</h3>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="bg-gray-200 rounded-lg flex justify-center items-center h-32">
                            <h3 class="text-xl font-bold text-center">Package 2</h3>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="bg-gray-200 rounded-lg flex justify-center items-center h-32">
                            <h3 class="text-xl font-bold text-center">Package 3</h3>
                        </div>
                    </div>
                </div>
            </div>

        <!-- card  -->
      <div class="container mx-auto bg-blue-900 rounded-lg p-8 mt-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="md:col-span-1 flex justify-center items-center">
            <div class="pr-4">
              <img
                src="public\images\pages\company-website\services\PhotoBesideEmailBox.png"
                class="rounded-lg w-full"
                alt=""
              />
            </div>
          </div>
          <div class="md:col-span-1 flex justify-center items-center px-4">
            <div>
              <h1 class="text-white text-3xl font-bold">
                World’s best Project <br />
                handpick for you!
              </h1>
              <p class="text-white mt-4">
                Jorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                eu turpis molestie, dictum est a, mattis tellus. Sed dign
              </p>
              <div class="flex mt-4">
                <input
                  type="text"
                  class="flex-1 p-2 rounded-l-lg border border-gray-300"
                  placeholder="Enter your email"
                />
                <button class="bg-blue-700 text-white px-4 rounded-r-lg">Contact</button>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="container mx-auto mt-8">
            <div class="text-center">
                <h2 class="font-bold text-3xl text-gray-800">What our Customer say</h2>
                <p class="text-gray-600 mt-2">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dign</p>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-4 mt-8">
                <div class="col text-center">
                    <img src="public\images\pages\company-website\services\Customer1.png" class="rounded-lg w-full" alt="">
                    <h3 class="pt-3 text-xl font-bold">Mr. Jerry</h3>
                    <h3 class="text-lg text-gray-600">CEO</h3>
                    <p class="text-gray-600 mt-2">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dign</p>
                </div>

                <div class="col text-center">
                    <img src="public\images\pages\company-website\services\Customer2.png" class="rounded-lg w-full" alt="">
                    <h3 class="pt-3 text-xl font-bold">Mr. Jerry</h3>
                    <h3 class="text-lg text-gray-600">CEO</h3>
                    <p class="text-gray-600 mt-2">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dign</p>
                </div>

                <div class="col text-center">
                    <img src="public\images\pages\company-website\services\Customer3.png" class="rounded-lg w-full" alt="">
                    <h3 class="pt-3 text-xl font-bold">Mr. Jerry</h3>
                    <h3 class="text-lg text-gray-600">CEO</h3>
                    <p class="text-gray-600 mt-2">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dign</p>
                </div>
            </div>
        </div>

    </main>

</body>
